[submodule "FactorioMods/space-factorissimo-updated"]
	path = FactorioMods/space-factorissimo-updated
	url = https://github.com/Yariazen/space-factorissimo-updated
[submodule "PlateUpMods/KitchenLib"]
	path = PlateUpMods/KitchenLib
	url = https://github.com/Yariazen/KitchenLib
[submodule "PlateUpMods/Yaraizen.PlateUp.ModBuildUtilities"]
	path = PlateUpMods/Yaraizen.PlateUp.ModBuildUtilities
	url = https://github.com/Yariazen/Yaraizen.PlateUp.ModBuildUtilities
